/* Backgrounds */

header{
    background-image: url('/resources/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 50em;
}
 
#background-2{
  background-image: url('/resources/bg-2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  height: 20em;
}

#about-bg{
  background-image: url('/resources/bg-about.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 50em;
}

#Properties-bg{
  background-image: url('/resources/bg-properties.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 50em;
}

#agents{
  background-image: url('/resources/bg-agent.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  height: 35em;
}

#Contact{
  background-image: url('/resources/bg-contact.jpg') !important;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}